[Desktop Entry]
Encoding=UTF-8
Categories=Game;ActionGame;
Name=Blob Wars : Metal Blob Solid
Comment=Mission and Objective based 2D Platform Game
Icon=blobwars
Exec=blobwars
Terminal=false
Type=Application
